/extension/node_modules/
/extension/out/
/extension/bin/
/extension/*.vsix
/bin/specs
/engine/specs
/dist/
/engine/internal/visualize/web/traceability-view.css
/engine/internal/visualize/web/traceability-view.js
